@import url("https://fonts.googleapis.com/css?family=Comfortaa|Righteous");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');


body {
  /* background: url(https://images.clipartlogo.com/files/istock/previews/8741/87414357-apple-seamless-pastel-colors-pattern-fruits-texture-background.jpg); */
  margin: 20px;
  font-family: "Comfortaa", cursive;
  background-color: rgb(178, 192, 192);
}

h1 {
  font-family: 'Rubik Iso';
  font-size: 33px;
  color: royalblue;
  /* background: #FF731D; */
  /* margin:0;
  margin-bottom: .5em;
  padding: 1em;
  color: '#fff' */
  /* text-align: center; */
}

h1:hover {
color: orange;
cursor: pointer
}

h1:active {
  color: royalblue;
  cursor: pointer
  }

h1,
h2,
h3,
span {
  padding-left: 10px;
}

a {
  font-family: 'Rubik Iso';
  color: royalblue;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  /* background: rgba(1, 84, 151, 0.9); */
  padding: 5px;
}

a:hover {
  color: orange;
  cursor: pointer;
}

a:active {
  color: ghostwhite;
  cursor: pointer;
}

li {
  list-style: none;
}

li a {
  /* color: rgba(1, 84, 151, 0.9); */
}

input[type="text"] {
  padding: 0.3em;
}

input[type="submit"] {
  padding: 0.3em;
  color: ghostwhite;
  background: rgba(0, 55, 99, 0.9);
  font-size: 1em;
  border-radius: 10%;
}

input:hover {
  color: orange;
}

input:active {
  color: ghostwhite;
}

p {
  padding-left: 10px;
}

.margin-section {
  margin: 200px 0;
}

.card:hover {
  box-shadow: 8px 10px 10px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

